  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->


    <a href="https://github.com/calag4n" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="https://dev.to/calag4n" target="_blank">
      <i class="fab fa-dev mr-3" title="calag4n's DEV Profile"></i>
    </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a href="https://web-motion.net" target="_blank"> Web-Motion.net </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->