{% extends 'base.html' %}

{% block content %}

<!--Main layout-->
<main>
  <div class="container">

    <div class="table-responsive">
      <h2>Panier</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Article</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>

          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>
              {% if order_item.item.discount_price %}
              {{ order_item.item.discount_price|floatformat:2 }}€
              {% else %}
              {{ order_item.item.price|floatformat:2 }}€
              {% endif %}
            </td>
            <td>
              <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}">
                <i class="fas fa-minus mr-2"></i>
              </a>
              {{ order_item.quantity }}
              <a href="{% url 'core:add-to-cart' order_item.item.slug %}">
                <i class="fas fa-plus ml-2"></i>
              </a>
            </td>
            <td>
              {% if order_item.item.discount_price %}
              {{ order_item.get_total_discount_item_price|floatformat:2 }}€
              <span class="badge badge-primary">
                {{order_item.get_saved_amount|floatformat:2}}€ économisé !
              </span>
              {% else %}
              {{ order_item.get_total_item_price|floatformat:2 }}€
              {% endif %}
              <a href="{% url 'core:remove-from-cart' order_item.item.slug %}"
                class="btn btn-sm btn-danger float-right">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Votre panier est vide</td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="/" class="btn btn-outline-primary float-right">Continuer mes achats</a>
            </td>
          </tr>
          {% endfor %}

          {% if object.coupon %}
          <tr class="bg-light">
            <th>Réductions</th>
            <td colspan="3" class="text-success">Code promo : {{ object.coupon.code }}</td>
            <td class="text-success"><b>-{{object.coupon.amount|floatformat:0}}%</b></td>
          </tr>
          {% endif %}

          {% if object.get_total %}
          <tr>
            <th colspan="4"><b>Total</b></th>
            <td><b><strong>{{object.get_total|floatformat:2}}€</strong></b></td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="/checkout/" class="btn btn-warning float-right ml-2">Procéder au paiement</a>
              <a href="/" class="btn btn-outline-primary float-right">Continuer mes achats</a>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="col-md-5 my-4">
      {% include 'coupon-form.html' %}
    </div>

  </div>
</main>
<!--Main layout-->

{% endblock content %}